<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PS | Tags</title>
</head>
<body>
    <form class="find_by_tag_form" method="POST" onsubmit="sendMessage(event); return">
        <input type="text" id="search_tag">
        <input type="submit">
    </form>

    <select name="tags">
        <option></option>
        {% for tag in tags %}
        <option value="{{tag.name}}">{{tag.name}}</option>
        <!-- realization showing files -->
        {% endfor %}
    </select>

    <script src="/static/js/gallery/tags.js" type="text/javascript"></script>
</body>
</html>