<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/gallery/folders.css" rel="stylesheet">
    <title>PS | {{folder_name}}</title>
</head>
<body>
    <h2>Upload new files</h2>
    
    <form class="upload-form" action="/folder/{{user}}/{{folder_name}}/uploading" method="post" enctype="multipart/form-data">
        <div>
            <label for="fileInput">
                <div class="file-input-area">
                    <h3>Choose files</h3>
                    <p>Format: JPG, PNG, GIF, MP4, MOV</p>
                    <p><em>Click to select files</em></p>
                </div>
                <input id="fileInput" type="file" name="media_file" accept="image/*,video/*" multiple required>
            </label>
        </div>
        
        <input type="submit" value="Upload Files">
    </form>
    
    <h2>Your files</h2>
    <div class="files">
        {% if files %}
            {% for file in files %}
                <div class="file-item">
                    {% if file.key.lower().endswith(('.jpg', '.png', '.gif', '.jpeg')) %}
                        <img src="{{file.url}}" alt="{{file.key}}">
                        <p class="file-info">{{file.key.split('/')[-1]}}</p>
                        <form method="POST" action="/delete/">
                            <input type="hidden" value="{{file.key}}" name="file_path">
                            <input type="submit" value="delete">
                        </form>
                    {% elif file.key.lower().endswith(('.mp4', '.mov')) %}
                        <video controls>
                            <source src="{{file.url}}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <p class="file-info">{{file.key.split('/')[-1]}}</p>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p class="empty-message">There are no photos or videos in this folder yet.</p>
        {% endif %}
    </div>
</body>
</html>