<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/gallery/upload_files.css" rel="stylesheet">
    <title>Upload</title>
</head>
<body>
    <h1>Uploading photos and videos</h1>
    
    <form class="upload-form" action="/upload/proccess" method="post" enctype="multipart/form-data">
        <div>
            <label for="fileInput">
                <h3>Choose files</h3>
                <p>Format: JPG, PNG, GIF, MP4, MOV</p>
                <input type="file" name="media_file" accept="image/*,video/*" multiple required>
            </label>
        </div>
        
        <div class="preview" id="previewContainer">
            <!-- Превью файлов будет здесь -->
        </div>
        
        <input type="submit" value="Upload">
    </form>
</body>
</html>