<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/folders/folders_form.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>PS | Folders</title>
</head>
<body>
    <button class="create-folder-btn">New folder</button>

    <div class="popup-create-folder">
        <form method="POST" action="/gallery/folders/creation" id="folderForm">
            <input type="text" name="folder_name" placeholder="Folder name" required>
            <button type="submit">Create</button>
        </form>
    </div>

    <div class="folders-container">
    {% for folder in folders %}
        <a href="/gallery/folders/{{ user }}/{{ folder.name }}" class="folder-card">
            <div class="folder-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#2196F3">
                    <path d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z"/>
                </svg>
            </div>
            <span class="folder-name">{{ folder.name }}</span>
        </a>
    {% endfor %}
    </div>
    <script type="text/javascript" src="/static/js/folders/popup_create_folder.js"></script>
</body>
</html>