<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/tags/tags.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h2>Your files</h2>
    <div class="files">
        {% if files %}
            {% for file in files %}
                <div class="file-item">
                    {% if file.key.lower().endswith(('.jpg', '.png', '.gif', '.jpeg')) %}
                        <img src="{{file.url}}" alt="{{file.key}}" onclick="openImagePopup('{{file.url}}')">
                        <p class="file-info">{{file.key.split('/')[-1]}}</p>
                        <button class="delete-btn" onclick="showDeletePopup('{{file.key}}', this)">Delete</button>
                    {% elif file.key.lower().endswith(('.mp4', '.mov')) %}
                        <video controls>
                            <source src="{{file.url}}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <p class="file-info">{{file.key.split('/')[-1]}}</p>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p class="empty-message">There are no photos or videos in this folder yet.</p>
        {% endif %}
    </div>

    <script src="/static/js/tags/files.js" type="text/javascript"></script>
</body>
</html>