<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/sign_up.css" rel="stylesheet">
    <title>Sign-up</title>
</head>
<body>
    <div class="reg-box">
        <h2>Registration

        </h2>
        <form method="POST" action="/sign-up/proccess/">
            <input type="text" name="email" placeholder="email" required>
            <input type="text" name="username" placeholder="username" required>
            <input type="password" name="password" placeholder="password" required>
            <button type="submit">Create</button>
        </form>
    </div>
</body>
</html>